<%= form_with(model: group, local: true, :class => 'p-3') do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-6 offset-lg-3">
  <div class="form-group">
    <strong><%= form.label :name, :class => 'control-label' %>:</strong>
    <%= form.text_field :name, id: :group_name, :class => 'form-control' %>
  </div>
<div class="form-group text-center">
    <%= form.submit :class => 'btn btn-success' %>
</div>
</div>
<% end %>
