<div class="text-center">
  <h4 id="notice"><%= notice %></h4>
</div>

<div><h1 class="text-center p-3"><%= @user.full_name %></h1></div>
  <div class="row">
    <div class="col-lg-3">
      <h3 class="text-center">
        <% if @user == current_user %>
          Your Groups
        <% else %>
          Groups
        <% end %>
      </h3>
      <% if @groups.blank? %>
        <% if @user == current_user %>
          <p class="text-center">You haven't joined any groups yet.</p>
        <% else %>
          <p class="text-center"><%= @user.first_name %> hasn't joined any groups yet.</p>
        <% end %>
      <% else %>
        <ul class="list-group">
          <% @groups.each do |group| %>
            <li class="list-group-item"><%= link_to group.name, group %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="text-center">
       <br>
      <p class="text-center"><%= @user.email %></p>
      <% if @user == current_user %>
        <%= link_to 'Edit Profile', edit_user_path %>
      <% end %>
</div>
    </div>
    <div class="col-lg-9">
    <h3 class="text-center">
      <% if @user == current_user %>
        Your Expenses
      <% else %>
        Shared Expenses
      <% end %>
    </h3>
      <% if @expenses.blank? %>
        <% if @user == current_user %>
          <p class="text-center">You don't have any expenses yet.</p>
        <% else %>
          <p class="text-center"><%= @user.first_name %> doesn't have any expenses yet.</p>
        <% end %>
      <% else %>

     <table class="table table-hover">
        <thead>
          <tr>
            <th class="text-center">Expense</th>
            <th class="text-center">Group</th>
            <th class="text-center">Date</th>
            <th class="text-center">Category</th>
            <th class="text-center">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @expenses.each do |expense| %>
            <% @group = group(expense.group_id) %>
            <% if current_is_member?(@group) %>
              <tr>
                <td class="text-center"><%= link_to truncate(expense.description, :length => 25, :separator => ' '), expense %></td>
                <td class="text-center"><%= link_to @group.name, @group%></td>
                <td class="text-center"><%= expense.date.strftime("%B %d, %Y") %></td>
                <td class="text-center"><%= expense.category %></td>
                <td class="text-right"><%= number_to_currency(expense.total) %></td>
              </tr>
              <% end %>
          <% end %>
        </tbody>
      </table>

      <% end %>
    </div>
  </div>
