<%= form_with(model: expense, local: true) do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :expense_total %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :expense_description %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :expense_date %>
  </div>

  <div class="field">
    <%= form.label :who_paid_id %>
    <%= form.text_field :who_paid_id, id: :expense_who_paid_id %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category, id: :expense_category %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
