<%= form_with(model: expense, local: true, :class => 'form p-3') do |form| %>
  <% if expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-lg-6 offset-lg-3">

  <div class="form-group">
    <strong><%= form.label :description %>:</strong>
    <%= form.text_field :description, id: :expense_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <strong><%= form.label :total %>:</strong>
    <%= form.number_field :expense_total, min: 0, step: 0.01, placeholder: 0.00, class: 'form-control' %>
  </div>

    <div class="form-group">
    <strong><%= form.label :date %>:</strong>
    <br>
    <%= form.date_select :expense_date, {:order => [:month, :day, :year]} %>
  </div>

  <div class="form-group">
    <strong><%= form.label :user_id, 'Who Paid:' %></strong>
    <%= form.collection_select :user_id, @users, :id, :full_name, {prompt: false}, {class: "form-control"}%>
  </div>

  <div class="form-group">
    <strong><%= form.label :category %>:</strong>
    <%= form.select :category, options_for_select(@categories), {prompt: false}, {class: "form-control"}%>
  </div>

  <div class="form-group text-center">
    <%= form.hidden_field :group_id %>
    <%= form.submit :class => 'btn btn-success'%>
  </div>
</div>
<% end %>
