<div class="text-center p-3">
  <h4 id="notice"><%= notice %></h4>
</div>

<p>
  <strong>Date:</strong>
  <%= @expense.date %>
</p>

<p>
  <strong>Total:</strong>
  <%= @expense.total %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expense.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @expense.user %>
</p>

<p>
  <strong>Group:</strong>
  <%= @expense.group %>
</p>

<p>
  <strong>Category:</strong>
  <%= @expense.category %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
